html {
  font-size: 18px;
}

body {
  background-color: #EFE7DD;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

h2 {
  text-align: center;
  font-size: 2.2rem;
  text-decoration: underline;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

h3 {
  text-align: left;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-left: 75px;
}

h1,
h2,
h3 {
  font-family: "Cinzel", serif;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto;
  font-family: "Old Standard TT",serif;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
}

td {
  text-align: left;
}

tr{
    background-color: rgb(232, 223, 223);
}

th {
  text-transform: uppercase;
  background-color: #dbcebd;
}

tr > td:nth-child(-n + 2) {
  text-align: center;
  width: 15%;
}

tr > td:nth-child(2) {
  text-transform: uppercase;
}

tr > th:nth-child(3){
    text-align: left;
    padding-left: 2rem;
}

.tr-color {
  background-color: #bdcadb;
}
